<?xml version="1.0" encoding="UTF-8"?>
<suite name="Parallel test suite" parallel="tests" thread-count="3">
    <test name="Test 1">
        <classes>
            <class name="com.epam.webservices.training.tests.RestAssuredTest" />
        </classes>
    </test>

   <test name="Test 2">
        <classes>
            <class name="com.epam.webservices.training.tests.RestTemplateTest" />
        </classes>
    </test>
    <test name="Test 3">
        <classes>
            <class name="com.epam.webservices.training.tests.ApacheHttpClientTest" />
        </classes>
    </test>
</suite>